.Header_menu{
    padding: 20px 0;
    border-bottom: 1px solid #DFDFDF;
    @media #{$md} {
        padding: 60px 0;
    }
    @media #{$lg} {
        padding: 60px 0;
    }
    @media #{$xl} {
        padding: 10px 0;
    }

    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.header-left{
    display: flex;
    flex:1;
    align-items: center;
   

    flex-direction: row;
    .site-logo{
       
        display: inline-block;
        margin-right: 30px;
        img{
            width: 80px;
            height: 80px;
            display: block;
            margin: auto;
        }
    }

    .site-navigation{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            display: inline-block;
            margin-right: 30px;
            &:last-child{
               margin-right: 0;
            }
        }
        a{
            color: $black;
            text-decoration: none;
            @extend .ci-text;
            font-size: 18px;
            &:hover{
                color: $green;
                text-decoration: underline;
            }
        }
    }

}

.header-right{

    a{
       
        color: $black;
        text-decoration: none;
        @extend .ci-text;
        font-size: 18px;
        &:hover{
            color: $green;
            text-decoration: underline;
        }
        img{
            margin-right: 3px;
            width: 32px;
            height: 34px;
            display: inline-block;
            vertical-align: text-bottom;
        }
    }
}