.btn-primary{
    font-size: 20px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: $green;
    border-color: $green;
    &:hover,
    &:focus,
    &:active,
    &:disabled
    {
        background-color: darken($green, 10%);
        border-color: darken($green, 10%);
    }
}
.slick-dots {
    bottom: 20px;
}

.slick-dots li button:before{
    font-size: 30px;
}