 $green: #07712B;

 $black: #000000;

 $greyblack: #4C4C4C;
 $grayblackF:#858484;
 $grayblack2:#888888;

 $greywhite:#C6C6C6;
 $greywhite2:#F7F7F7;
 $greywhite3:#C9C9C9;
 $greywhite4:#DFDFDF;
 $greysuperwhite:#E8E8E8;


 $white: #F0F0F0;
 $white2:#FFFFFF;



 $red: #880808;

 $yellow: #E3AE0A;



 $sm: "screen and (min-width: 576px)";
 $md: "screen and (min-width: 768px)";
 $lg: "screen and (min-width: 992px)";
 $xl: "screen and (min-width: 1200px)";
 $xxl: "screen and (max-width: 1400px)";

   
  